*/generated/
webui/generated/
webui/node_modules/
webui/dist/
webui/bin/
webui/bin_test
webui/app/example/*.js
*/bin/
.metadata/
webui/app/main.js

webui/app/main.js

webui/app/main.js

webui/app/weather/model/Weather.js

webui/app/weather/services/WeatherService.js

webui/app/weather/controllers/WeatherController.js

webui/app/amdatu.bootstrap.app.js

npm-debug.log

webui/app/css/amdatu.bootstrap.css
